.userItem {
	border: 1px solid #292929;
}

.userItemWrapper {
	text-align: center;
	padding: 10px;
}

.buttonsWrapper {
	display: flex;
	justify-content: center;
	column-gap: 10px;
}

.userItemBtn {
	min-width: 90px;
	height: 30px;
	border: none;
	border-radius: 4px;
	color: #ffffff;
	background-color: #4f46e5;
	transition: background-color 250ms linear;
	&:hover {
		background-color: #4338ca;
	}
	&:active {
		background-color: #3730a3;
	}
}
