.fieldWrapper {
	position: relative;
}

.label {
	display: block;
	margin-bottom: 8px;
}

.field {
	width: 100%;
	height: 42px;
	padding-left: 15px;
	border: 1px solid #d1d5db;
	outline: transparent;
	color: #2d2d2d;
	background-color: transparent;
	&::placeholder {
		color: #9ca3af;
	}
	&:focus {
		border-color: #4f46e5;
		box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.2);
	}
}

.error {
	font-size: 13px;
	position: absolute;
	left: 0;
	bottom: -18px;
	color: #dc2626;
}
